{% extends 'base.html.twig' %}

{% block title %}Nos magnifiques annonces!{% endblock %}

{% block body %}
 <section class="section overflow-content page-style-2">
      <div class="empty-sp-md-200 empty-sp-sm-100 empty-sp-xs-100"></div>
	   <div class="container">
         <div class="title-style-1">
             <span class="sub-title-2">Blog intéressant</span>
              <h1 class="caption-1 color-2">Nos nouvelles</h1>
               <div class="empty-sp-sm-15 empty-sp-xs-15"></div>
                <div class="simple-text size-2 color-2">
                    <p>NOTRE ESPACE D'EXPRESSION </p>
                </div>
         </div>
         <div class="empty-sp-md-70 empty-sp-sm-30 empty-sp-xs-30"></div>
	     <div class="row">
	         <div class="col-lg-8 col-md-12 col-xs-12">
                {% for ad in pagination.data %}
	            <div class="blog-post-item wow slideInLeft">
                  <a href="{{path('blog_show', {'slug': ad.slug})}}" class="btn btn-secondary font-3 button-style-3 post-tag">cover</a>
	                <div class="image hover-img">
	                   <div class="bg" style="background-image:url({{ad.coverImage}})"></div>
	                </div>
	                <div class="empty-sp-sm-25 empty-sp-xs-25"></div>
	                <div class="text">
                      <div class="post-time">
                        <span class="date-post">{{ad.createdAt|date("F jS \\a\\t g:ia")}}</span>  
                        <a href="{{path('blog_show', {'slug': ad.slug})}}" class="date-post">{{ad.author.fullName}}</a>
                      </div>
                      <div class="empty-sp-sm-25 empty-sp-xs-25"></div>
	                    <a href="{{path('blog_show', {'slug': ad.slug})}}" class="title caption-3">{{ad.title}}</a>
                         <div class="empty-sp-sm-20 empty-sp-xs-20"></div>
	                      <div class="simple-text size-1 color-3">
	                          <p>{{ad.introduction}} </p>
	                      </div>
                          <div class="empty-sp-sm-25 empty-sp-xs-25"></div>
	                        <div class="tag-post-bar">
                              <div class="link fl">
	                            <a href="#">#expression ,</a>
	                            <a href="#">#inspiration ,</a>
	                            <a href="#">#travaille</a>
	                          </div>
	                          <div class="like fr">
                              {% if ad.comments | length > 0 %}
                                    {% include "partials/rating.html.twig" with {'rating': ad.avgRatings } %}
                                {% else %}    
                                    <small>Pas encore noté</small>
                                {% endif %}
	                              <a href="#" class="info-icon"><span>{{ad.avgRatings|number_format(1, ',', ' ')}}</span><i class="icon-heart-empty"></i></a>
	                              <a href="#" class="info-icon"><span>{{ad.comments|length}}</span><i class="icon-comment-empty"></i></a>
	                          </div>     
	                        </div>
	                </div>
	            </div>
	            
	            <div class="empty-sp-md-80 empty-sp-sm-40 empty-sp-xs-30"></div> 
                {% else %}
                 <h1>Aucun articles ajouter pour le moment !!!</h1>
                {% endfor %}
                <div class="empty-sp-md-80 empty-sp-sm-40 empty-sp-xs-30"></div>
                          
                {{pagination.display()}}
                           
                <div class="empty-sp-md-130 empty-sp-sm-100 empty-sp-xs-60"></div>                  
	                      
	         </div>
	         <div class="col-lg-4 col-md-12 col-xs-12">
	             <div class="blog-sidebar sidebar">
	                <form action="{{path('blog_search')}}" class="search-form wow slideInRight">
	                    <div class="input-group input-style-2">
                          <input type="text" class="form-control" name="search" placeholder="Leave your question..." required>
                          <span class="input-group-btn">
                            <button class="btn btn-secondary button-style-2" type="submit">search</button>
                          </span>
                        </div>
	                </form>
	                <div class="empty-sp-md-60 empty-sp-sm-25 empty-sp-xs-30"></div>
	                <div class="sidebar-blog-item wow slideInRight">
	                   <h3 class="caption-3 title">category</h3>
                         <div class="empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-20"></div>
	                     <ul class="category-list">
                            {% for type in types %}
	                         <li><a href="#">{{type.name}}<span>({{type.blog|length}})</span></a></li>
                            {% endfor %}
	                     </ul>
                    </div>
                    <div class="empty-sp-md-50 empty-sp-sm-20 empty-sp-xs-20"></div>
                    <div class="sidebar-blog-item wow slideInRight">
	                   <h3 class="caption-3 title">Derniers articles</h3>
                         <div class="empty-sp-md-30 empty-sp-sm-30 empty-sp-xs-20"></div>
                        {% for ad in ads %}
                           <div class="recent-post vertical-wrap">
                               <div class="image align-item hover-img">
                                   <a href="{{path('blog_show', {'slug': ad.annonce.slug})}}"><img src="{{ad.annonce.coverImage}}" alt="" class="resp-img"></a>
                               </div>
                               <div class="text align-item">
                                   <a href="{{path('blog_show', {'slug': ad.annonce.slug})}}" class="caption-4">{{ad.annonce.title}}</a>
                                 <div class="empty-sp-sm-25 empty-sp-xs-20"></div>
                                  <span class="date-post">{{ad.annonce.createdAt|date("F jS \\a\\t g:ia")}}</span>
                               </div>
                           </div>
                           <div class="empty-sp-sm-30 empty-sp-xs-15"></div>
                        {% endfor %}
                    </div> 
                    
                    <div class="empty-sp-md-75 empty-sp-sm-80 empty-sp-xs-50"></div>
	             </div>
	         </div>
	     </div>
	   </div>
    </section>
{% endblock %}
