{% extends "admin/base.html.twig" %}

{% block title %}Ajout Etude{% endblock %}

{% form_theme form 'admin/etude/_collection.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="page-header filled full-block light">
            <div class="row">
                <div class="col-md-6">
                    <h2>Administration du site</h2>
                    <p>Dadch&amp;co</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-page-breadcrumb">
                        <li><a href="#">Home <i class="zmdi zmdi-chevron-right"></i></a></li>
                        <li><a href="#">Etude <i class="zmdi zmdi-chevron-right"></i></a></li>
                        <li class="active-page"> Ajout</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-wrap">
                    <div class="widget-header block-header margin-bottom-0 clearfix">
                        <div class="pull-left">
                            <h3>Formulaire d'ajout</h3>
                            <p>Etude</p>
                        </div>
                    </div>
                    <div class="widget-container">
                        <div class="widget-content">
                          {{form_start(form)}}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="alert alert-light">
                                        <h2>Informations génerales</h2>
                                        <hr>
                                        {{form_row(form.subject)}}
                                        {{form_row(form.slug)}}
                                        {{form_row(form.compagny)}}
                                        {{form_row(form.secteur)}}
                                        {{form_row(form.periode)}}
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="alert alert-light">
                                        <h2>Image de l'annonce</h2>
                                        <hr>
                                        {{form_row(form.imageEtudes)}}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-light">
                                        <h2>Détails de l'annonce</h2>
                                        <hr>
                                        {{form_row(form.typeOfStudy)}}
                                        {{form_row(form.pays)}}
                                        {{form_row(form.contenu)}}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Ajouter l'étude</button>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script  src="/js/etude.js"></script>
{% endblock %}